# configuration in YAML style!
#
# Take care of quotes '". It makes the difference between number and text.
#
# only available via command line interface are the followings options
# - conf_file
# - log_print
# - systemd

# "-p" (== --print) makes logging obsolet (espcically if you running a systemd service)
# log_file:             "./enocean_mqtt_bridge.log"
log_level:              "info"  # values: debug, info, warning, error
# log_max_bytes:        1048576  # default
# log_max_count:        10       # default

# check USB port with `lsusb` and `dmesg | grep -i "usb"`
serial_port:            "/dev/ttyUSB0"  # Bluetooth "/dev/rfcomm0"

# see https://pypi.org/project/paho-mqtt/
mqtt_client_id:         "hostname-sds011-mqtt"
mqtt_host:              "<your_server>"
mqtt_port:              1883  # integer
mqtt_last_will:         '{"STATE: "OFFLINE", "INFO": "last will"}'
# mqtt_keepalive:       60  # integer
# mqtt_protocol:        4  # 3==MQTTv31, (default:) 4==MQTTv311, 5==default/MQTTv5,
# mqtt_ssl_ca_certs:    "/etc/mosquitto/certs/ca.crt"
# mqtt_insecure_ssl:    True
# mqtt_user_name:       "<your_user_name>"
# mqtt_user_pwd:        "<your_password>"
