[Unit]
Description=SDS011-MQTT

[Service]
Type=simple
ExecStart=/opt/sds011-mqtt/sds011-mqtt.sh -s -p -c /opt/sds011-mqtt/sds011-mqtt.yaml
Restart=always
RestartSec=300
WorkingDirectory=/opt/sds011-mqtt
User=pi
# prepare the serial port in case of a Bluetooth connection
# ExecStartPre=+/usr/bin/rfcomm bind 0 00:11:22:AA:BB:FF 1


[Install]
WantedBy=multi-user.target
